/vendor
/node_modules
/.env
/.env.backup
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/public/hot
/public/storage
/bootstrap/cache/*
!.gitkeep
composer.phar
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.swp
*.swo
